pydantic
matplotlib
anthropic
openai
python-dotenv
pydantic-settings
names
tiktoken
aiohttp
fastapi
uvicorn
libcst
sqlmodel
backoff
aiohttp
tiktoken
setuptools
pytest
pytest-asyncio
pytest-cov
pytest-benchmark
aiohttp
polars
jsonschema
ipykernel