# Adding gitignore for
.venv

# Env files
.env
.env.local

#Cache files
__pycache__

# log files
llm_agents/logs*

# Any and all venv folders anywhere in the project
**/venv
**/venv/*
**/venv/**
venv
venv/*
venv/**

#toy folder configs
cognitive_modules/memory/retrieval_toys/bm25/config.yaml
cognitive_modules/memory/retrieval_toys/long_term_prototype/config.yaml

# ignore toy DOCS with .md in these are for injesting and testing the toys
cognitive_modules/memory/retrieval_toys/DOCS
cognitive_modules/memory/retrieval_toys/DOCS/*
cognitive_modules/memory/retrieval_toys/DOCS/** 

# persona output and _archive
llm_agents/personas/output
llm_agents/personas/_archive