# Adding gitignore for
.venv

# Env files
.env
.env.local

#Cache files
__pycache__

# log files
llm_agents/logs*

# Any and all venv folders anywhere in the project
**/venv
**/venv/*
**/venv/**
venv
venv/*
venv/**

market_agents.egg-info/*
