pydantic==2.8.2
pydantic-settings==2.5.2
psycopg2==2.9.10
anthropic==0.34.1
openai==1.42.0
python-dotenv==1.0.1
colorama==0.4.6
names==0.3.0
tiktoken==0.7.0
fastapi==0.115.6
pyfiglet==1.0.2
uvicorn==0.34.0
rich==13.9.4
aiohttp~=3.11.11
asyncio~=3.4.3
setuptools~=75.1.0
numpy~=2.2.1
requests~=2.32.3
pyyaml~=6.0.2
pandas~=2.2.2
tenacity~=9.0.0
asyncpg~=0.29.0
matplotlib~=3.9.2