pydantic==2.8.2
pandas==2.2.2
matplotlib==3.9.2
dash==2.17.1
anthropic==0.34.1
openai==1.42.0
python-dotenv==1.0.1
pydantic-settings==2.5.2
colorama==0.4.6
names==0.3.0
tiktoken==0.7.0
aiohttp
scipy
fastapi
uvicorn
pydantic_settings
bs4
pip install playwright
playwright install chromium

newspaper3k
requests-html
httpx
MechanicalSoup
parsel
scrapy

# Dependencies for newspaper3k
nltk
feedparser
tldextract
feedfinder2
jieba3k

# Dependencies for requests-html
pyppeteer
fake-useragent
parse
w3lib
lxml[html_clean] 
lxml_html_clean 

# Additional packages for robust scraping
cloudscraper
selenium-stealth
undetected-chromedriver
aiohttp-proxy
tenacity